@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 650px;

  --color-text: #FFFFFF;
  --color-text-light: #FFFFFFD9;
  --color-background: #0B111D;
  --color-background-shade: #343946;
  --color-primary: #2987C8;
  --color-primary-shade: #206C92;
  --color-accent: #AC5B99;
  --color-success: #27C667;
  --color-warning: #E09400;
  --color-failure: #E80000;

  --gradient-glass-stroke:
    linear-gradient(65deg, rgba(41,135,200,0.02) 0%, rgba(41,135,200,0.22) 100%),
    linear-gradient(65deg, rgba(188,188,188,0.12) 0%, rgba(235,235,235,0.25) 100%);

  --size-h1: 53.57px;
  --size-h2: 44.79px;
  --size-h3: 31.1px;
  --size-h4: 25.92px;
  --size-p: 18px
  --size-small: 15px;

  --font-weight: 300;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: var(--size-p);
  font-weight: var(--font-weight);
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

small {
  font-size: var(--size-small);
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
  padding: 14px 22px;
  background: var(--gradient-glass-stroke);

  border: double 1px transparent;
  border-radius: 14px;
  background-image: var(--gradient-glass-stroke);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.glass {
  /* Black Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);
  box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);

  /* Primary Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);
  -moz-box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);
  box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);
  
  /* Glass Blur */
  backdrop-filter: blur(25px);

  /* Background */
  background: black;
}
