@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Breakpoint 0 - 1130px */
  /* Breakpoint 1 - 1030px */
  /* Breakpoint 2 - 680px */
  /* Breakpoint 3 - 570px */
  /* Breakpoint 4 - 475px */

  --max-width: 620px;

  --color-text: #FFFFFF;
  --color-text-light: #FFFFFFD9;
  --color-background: #0B111D;
  --color-background-shade: #343946;
  --color-primary: #2987C8;
  --color-primary-shade: #206C92;
  --color-accent: #AC5B99;
  --color-success: #27C667;
  --color-warning: #E09400;
  --color-failure: #E80000;

  --overlay-color: rgba(255, 255, 255, 0.03);
  --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

  --gradient-glass-stroke:
    linear-gradient(65deg, rgba(41,135,200,0.02) 0%, rgba(41,135,200,0.22) 100%),
    linear-gradient(65deg, rgba(188,188,188,0.12) 0%, rgba(235,235,235,0.25) 100%);
  
  --placeholder-glass-stroke: #4E677D;
  --placeholder-glass-stroke-accent: #5A355A;
  --glass-border: 1.5px solid var(--placeholder-glass-stroke); /* TODO: Make gradient */

  --background-linear-gradient: linear-gradient(var(--color-background), var(--color-background));

  --size-h1-base: 50px;
  --size-h2-base: 41.8px;
  --size-h3-base: 29.03px;
  --size-h4-base: 24.19px;
  --size-p-base: 16.8px;
  --size-s-base: 14px;

  --size-h1: var(--size-h1-base);
  --size-h2: var(--size-h2-base);
  --size-h3: var(--size-h3-base);
  --size-h4: var(--size-h4-base);
  --size-p: var(--size-p-base);
  --size-s: var(--size-s-base);

  --font-weight: 300;

  --transaction-card-border-radius: 16px;
  --field-width: 425px;
  --tooltip-size: 13px;
  --nav-height: 65px;
}

@media only screen and (max-width: 1030px) {
  :root {
    --size-h1: calc(0.9 * var(--size-h1-base));
    --size-h2: calc(0.9 * var(--size-h2-base));
    --size-h3: calc(0.9 * var(--size-h3-base));
    --size-h4: calc(0.9 * var(--size-h4-base));
    --size-s: calc(0.9 * var(--size-s-base));
    --size-p: calc(0.9 * var(--size-p-base));

    --nav-height: 60px;
  }
}

@media only screen and (max-width: 680px) {
  :root {
    --size-h1: calc(0.8 * var(--size-h1-base));
    --size-h2: calc(0.8 * var(--size-h2-base));
    --size-h3: calc(0.8 * var(--size-h3-base));
    --size-h4: calc(0.8 * var(--size-h4-base));
    --size-s: calc(0.8 * var(--size-s-base));
    --size-p: calc(0.8 * var(--size-p-base));

    --nav-height: 55px;
    --tooltip-size: 11.5px;
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --nav-height: 50px;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: var(--size-p);
  font-weight: var(--font-weight);
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

small {
  font-size: var(--size-s);
}

.light{
  color: var(--color-text-light);
}

.bold{
  font-weight: 400;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding: 14px 22px;
  background: var(--gradient-glass-stroke);

  border: double 1px var(--placeholder-glass-stroke);
  border-radius: 14px;
  background-image: var(--gradient-glass-stroke);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.glass {
  position: relative;

  /* Black Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);
  box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.3);

  /* Primary Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);
  -moz-box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);
  box-shadow: -10px 10px 24px 0px rgba(41,135,200,0.12);

  /* Background */
  background-image: 
    url("/noise.png"),
    radial-gradient(circle at 80% 20%, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0) 100%),
    linear-gradient(#ffffff03, #ffffff03),
    linear-gradient(#0B111D66, #0B111D66);
  background-size: 17% auto, auto, auto, auto;

  /* Border */
  border: var(--glass-border);
}

.glass::before {
  /* Background blur - in seperate class to allow stacking */
  backdrop-filter: blur(18px);

  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  border-radius: inherit;
}
