.main-panel {
    width: var(--max-width);
    height: 84VH;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 35px;
    text-align: center;
    border-radius: 24px;

    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}