.nav {
    position: fixed;
    top: 20px;
    left: 40px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 1130px) {
    .nav {
        left: 15px;
    }
}

@media only screen and (max-width: 1030px) {
    .nav {
        width: var(--max-width);
        height: 12VH;

        top: 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 680px) {
    .nav {
        width: 95%;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.quartz-logo {
    padding: 10px;
    width: 180px;
    height: auto;
}

.heading {
    font-size: var(--size-h3);
}

.subheading {
    font-size: var(--size-p);
    padding-top: 5px;
}

.button-link {
    text-decoration: underline;
    border: 0px;
    background: transparent;
    min-width: 230px;
}

.transactions {
    margin-top: 92VH;
    padding-top: 25px;
    padding-bottom: 250px;
    width: 100%;
    border-width: 1.5px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 500;
}

@media only screen and (max-width: 1030px) {
    .transactions {
        margin-top: 95VH;
        padding-top: 20px;
    }
}

.transactions-content {
    width: var(--max-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    list-style-type: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
