.field {
    text-align: left;
    margin-top: 6px;
    width: var(--field-width);
    min-height: 50.53px;

    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 475px) {
    .field {
        width: 92VW;
    }
}

.field.accent {
    border: 1px solid var(--placeholder-glass-stroke-accent);
}

.field-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.hidden {
    display: none;
}

.field:hover {
    background: 
        var(--overlay), 
        var(--background-linear-gradient);
}

.field:active {
    background: 
        var(--overlay),
        var(--overlay),
        var(--background-linear-gradient);
}

.field img{
    height: 23px;
    width: 23px;
}

.field.large{
    padding: 20px 24px;
    border-radius: 24px;
}

.field.large p{
    font-size: var(--size-h3);
}

.field.large img{
    height: 36px;
    width: 36px;
}

.field.copied {
    justify-content: center;
}

@media only screen and (max-width: 1030px) {
    .field {
        padding: 8px 12px;
    }

    .field.large {
        padding: 16px 24px;
    }
}