.field {
    text-align: left;
    margin-top: 6px;
    width: var(--field-width);

    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field:hover {
    --overlay-color: rgba(255, 255, 255, 0.03);
    background:
        linear-gradient(var(--overlay-color), var(--overlay-color)),
        linear-gradient(var(--color-background), var(--color-background));
}

.field:active {
    background: var(--color-background-shade);
}

.field img{
    height: 23px;
    width: 23px;
}

.field.large{
    padding: 20px 24px;
    border-radius: 24px;
}

.field.large p{
    font-size: var(--size-h3);
}

.field.large img{
    height: 36px;
    width: 36px;
}

.field.copied {
    justify-content: center;
}