.field-heading {
    text-align: left;
    width: var(--field-width);

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;

    padding-left: 3px;
}

@media only screen and (max-width: 475px) {
    .field-heading {
        width: 92VW;
    }
}