.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;

    text-wrap: nowrap;
}

@media only screen and (max-width: 680px) {
    .nav { 
        gap: 8px;
    }
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--nav-height);
    background: var(--color-background);

    border-radius: 20px;
    border: 1px solid var(--placeholder-glass-stroke);
}

.account {
    width: var(--nav-height);
    justify-content: center;
    padding: 0px;
}

.account img {
    width: 40%;
    height: auto;
}

.ramp-button {
    padding: 0px 54px;
    height: 100%;

    border-radius: inherit;
    background: var(--color-background);
    border: 0px;
}

@media only screen and (max-width: 680px) {
    .ramp-button { 
        padding: 0px 44px;
    }
}

.ramp-button p {
    font-size: var(--size-h4);
}

.active {
    background: var(--gradient-glass-stroke);
}

.active:hover {
    background:
        var(--overlay),
        var(--gradient-glass-stroke);
}

.active:active {
    background:
        var(--overlay),
        var(--overlay),
        var(--gradient-glass-stroke);
}

.inactive:hover{
    background: 
        var(--overlay),
        var(--background-linear-gradient);
}

.inactive:active {
    background: 
        var(--overlay),
        var(--overlay),
        var(--background-linear-gradient);
}