.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--nav-height);
    background: var(--color-background);

    border-radius: 20px;
    border: 1px solid var(--placeholder-glass-stroke);
}

.account {
    padding: 19px;
}

.account img {
    height: 32px;
    width: 32px;
}

.ramp-button {
    padding: 0px 54px;
    height: 100%;

    border-radius: inherit;
    background: var(--color-background);
    border: 0px;
}

.ramp-button p {
    font-size: 24.2px;
}

.active {
    background: var(--gradient-glass-stroke);
}

.active:hover {
    background:
        var(--overlay),
        var(--gradient-glass-stroke);
}

.active:active {
    background:
        var(--overlay),
        var(--overlay),
        var(--gradient-glass-stroke);
}

.inactive:hover{
    background: 
        var(--overlay),
        var(--background-linear-gradient);
}

.inactive:active {
    background: 
        var(--overlay),
        var(--overlay),
        var(--background-linear-gradient);
}